### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as ppd

# File to Load (Remember to Change These)
file_to_load = "/Users/monicabustillos/Documents/pandas-challenge/HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pd = ppd.read_csv(file_to_load)

In [2]:
pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
sncount = pd['SN'].unique()
sn_count = len(sncount)
sn_count

576

In [4]:
## Purchasing Analysis (Total)

In [5]:
# * Run basic calculations to obtain number of unique items, average price, etc.
# * Create a summary data frame to hold the results
# * Optional: give the displayed data cleaner formatting
# * Display the summary data frame

In [6]:
# number of unique items 
item_count = len(pd['Item ID'].unique())
item_count
# average price
average_price = round(pd['Price'].mean(),2)
average_price
# number of purchases
purchases = pd['Purchase ID'].count()
purchases
# total revenue
total_revenue = pd['Price'].sum()
total_revenue

2379.77

In [7]:
total = ppd.DataFrame({
    'Number of Unique Items':[item_count],
    'Average Price': average_price,
    'Number of Purchases': purchases,
    'Total Revenue': total_revenue
})
total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [8]:
pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_count = pd['Gender'].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
gender_percentage = round((gender_count/purchases)*100,2)
gender_percentage

Male                     83.59
Female                   14.49
Other / Non-Disclosed     1.92
Name: Gender, dtype: float64

In [11]:
gender_demo = ppd.DataFrame({'Total Count':gender_count,
                            'Percentage of Players':gender_percentage})
gender_demo

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
# purchase count 
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
#  total purchase value 
gender = pd.groupby(['Gender']).sum()
gender_price = gender['Price']
gender_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
# average purchase price
gender_app = round(gender_price/gender_count,2)
gender_app

Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [16]:
mp = pd.loc[pd['Gender']== 'Male',:]   
male_players = len(mp['SN'].unique())

fp = pd.loc[pd['Gender']== 'Female',:]   
female_players = len(fp['SN'].unique())

op = pd.loc[pd['Gender']== 'Other / Non-Disclosed',:]   
other_players = len(op['SN'].unique())

In [17]:
# 
unique_male = mp.groupby(['SN']).sum()
sum_unique_male = unique_male['Price'].sum()
unique_mcount = unique_male['Price'].count()
avg_unique_male = round(sum_unique_male/male_players,2)
avg_unique_male

unique_female = fp.groupby(['SN']).sum()
sum_unique_female = unique_female['Price'].sum()
unique_fcount = unique_female['Price'].count()
avg_unique_female = round(sum_unique_female/female_players,2)
avg_unique_female

unique_other = op.groupby(['SN']).sum()
sum_unique_other = unique_other['Price'].sum()
unique_ocount = unique_other['Price'].count()
avg_unique_other = round(sum_unique_other/other_players,2)
avg_unique_other

4.56

In [18]:
gender_analysis = ppd.DataFrame({'Purchase Count':gender_count,
                                'Average Purchase Price': gender_app,
                                'Total Purchase Value': gender_price,
                                'Average Total Purchase per Person':[avg_unique_male,avg_unique_female, avg_unique_other]})

gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,113,3.20,361.94,4.07
Male,652,3.02,1967.64,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# bins
bins = [0, 9, 14, 19, 24, 29, 34, 39,  10000]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd["Age Ranges"] = ppd.cut(pd["Age"], bins, labels=group_labels)

pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [20]:
pd_ageranges = pd.groupby('Age Ranges')
pd_ageranges.head()
pd_age_count = pd_ageranges['Purchase ID'].count()

pd_age_percentage = round(100*(pd_age_count/purchases),2)
pd_age_percentage

Age Ranges
<10       2.95
10-14     3.59
15-19    17.44
20-24    46.79
25-29    12.95
30-34     9.36
35-39     5.26
40+       1.67
Name: Purchase ID, dtype: float64

In [21]:
age_demo = ppd.DataFrame({'Total Count': pd_age_count,
                         'Percentage of Players': pd_age_percentage})
age_demo

            Total Count  Percentage of Players
Age Ranges
<10                  23                   2.95
10-14                28                   3.59
15-19               136                  17.44
20-24               365                  46.79
25-29               101                  12.95
30-34                73                   9.36
35-39                41                   5.26
40+                  13                   1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# purchase count
pd_age_count

# average purchase price
price_ageranges = pd_ageranges['Price'].sum()
average_ageranges = round(price_ageranges/pd_age_count,2)
average_ageranges

# total purchase value 
price_ageranges

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [64]:
# average total purchase per person
pd_sn = pd.groupby('Age Ranges')['SN']
pd_agesn = pd_sn.nunique()


atppp = round(price_ageranges/pd_agesn,2)
atppp

Age Ranges
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [65]:
age_analysis = ppd.DataFrame({'Purchase Count': pd_age_count,
                              'Average Purchase Price': average_ageranges,
                              'Total Purchase Value': price_ageranges,
                             'Average Total Purchase per Person': atppp})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [120]:
# purchase count
groupby_sn = pd.groupby(['SN']).count()
groupby_sn
sort_sn = groupby_sn.sort_values('Price', ascending=False)
order_sn = groupby_sn['Purchase ID']
order_sn

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [121]:
# average purchase price 
sum_sn = pd.groupby(['SN']).sum()
sort_sum = sum_sn.sort_values('Price',ascending=False)

totalprice = sort_sum['Price']
totalprice
average_spender = round(totalprice/ order_sn,2)
sort1 = average_spender.sort_values(ascending=False)
sort1
sum_sn

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [151]:
top_spenders = ppd.DataFrame({'Purchase Count':order_sn,
                              'Average Purchase Price':average_spender,
                              'Total Purchase Value': totalprice
                             })
top_spenders.sort_values('Total Purchase Value', ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [123]:
pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [173]:

item_count1 = pd.groupby(['Item Name']).count()
item_count = item_count1['Purchase ID']
item_total1 = pd.groupby(['Item Name']).sum()
item_total = item_total1['Price']

price1 = pd.groupby(['Item Name']).mean()
price = round(price1['Price'],2)

In [176]:
most_popular1 = ppd.DataFrame({'Purchase Count': item_count,
                              'Item Price': price,
                              'Total Purchase Value': item_total})
most_popular = most_popular1.sort_values('Purchase Count', ascending= False).head(5)
most_popular

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Persuasion,9,3.22,28.99
Nirvana,9,4.90,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [178]:
most_profitable = most_popular1.sort_values('Total Purchase Value', ascending= False).head(5)
most_profitable

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Nirvana,9,4.90,44.10
Fiery Glass Crusader,9,4.58,41.22
Singed Scalpel,8,4.35,34.80